# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.log

# Secrets & Config
.env
settings.py

# Node Modules (if using React frontend in the same repo)
node_modules/
build/
dist/

# Git & Editor files
*.swp
.DS_Store
.vscode/
.idea/
